<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title><%= title %></title>
  <link rel="stylesheet" href="<%= css %>" media="all" charset="utf-8" />
  <script src="../dist/collector.js" charset="utf-8"></script>
</head>

<% var hasNav = (sources.length > 1 ? 'has-navigation' : ''); %>
<body class="<%= hasNav %>">
  <header class="main-header">
  </header>
  <% if (sources.length > 1) { %>
    <nav class="main-navigation">
    <% for (var i=0, l=sources.length; i<l; i++) { %>
      <% var source = sources[i]; %>
      <a class="source" href="<%= path.basename(destination(source)) %>">
        <span class="title"><%= path.basename(source) %></span>
      </a>
    <% } %>
    </nav>
  <% } %>

  <article class="page-content">
    <figure class="background"></figure>
    <% for (var i=0, l=sections.length; i<l; i++) { %>
    <% var section = sections[i]; %>
    <section class="content-block cf">
      <% if (section.docsHtml.replace(/\s/gm, '') != '') { %>
      <aside class="content-block__documentation ">
        <%= section.docsHtml %>
      </aside>
      <% } %>
      <% if (section.codeText.replace(/\s/gm, '') != '') { %>
      <code class="content-block__code">
        <%= section.codeHtml %>
      </code>
      <% } %>
      </section>
      <% } %>
  </article>

  <script>
    var nodes = $('.source');
    var currPage = new RegExp(location.pathname.split('/')[(location.pathname.split('/').length - 1)].split('.')[0]);

    nodes.each(function(node) {
      if (currPage.test(node.innerText)) {
        $(node).addClass('current-page');
      }
    })

  </script>
</body>
</html>
